.newsneventsmaincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-main-color);
    color: var(--text-main-color);
}

.newsectioncontainer {
    padding: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--background-main-color);
    color: var(--text-main-color);
    padding-top: 10vh;

    h2 {
        margin: 0.4em 0em;
    }

    button {
        box-shadow: 1px 1px 5px 1px var(--text-main-color);
        align-self: center;
        background-color: var(--item-secondary-conatiner);
    }
}

@media screen and (width <=500px) {
    .newsectioncontainer {
        padding: 1em;

        h2 {
            font-size: calc(1.4em + 3px);
            margin: 0.4em 0em;
        }

        button {
            padding: 0.4em 0.7em;
            font-size: calc(0.6em + 5px);
        }
    }
}

.newsitemsconatiner {
    padding: 0.6em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    align-items: stretch;

    a.newsitemlinkmaincontainer {
        padding: 1em;
        box-shadow: 0px 1px 5px 1px var(--text-main-color);
        border-radius: 0.7em;
    }
}

@media screen and (width <=500px) {
    .newsitemsconatiner {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.4em;
        padding: 0em;

        a.newsitemlinkmaincontainer {
            padding: 0.7em;
        }
    }
}

.newsitemcontaier {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    height: 100%;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.7em;
        aspect-ratio: 1 / 1;
        height: auto;

    }
}

@media screen and (width <=500px) {
    .newsitemcontaier {
        flex-direction: row;
        gap: 1em;
        align-items: center;

        img {
            width: 30%;
        }
    }
}

.newsitemtxtcontainer {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    justify-content: space-around;

    h3 {
        font-size: calc(0.8em + 4px);
        font-weight: 600;
        margin: 0.7em 0em;
    }

    p {
        font-size: calc(0.6em + 3px);
        font-weight: 400;
        margin: 0.4em 0em;
    }

    svg {
        width: 1.4em;
        aspect-ratio: 1/1;
        height: auto;
        color: var(--text-main-color);
    }

    span {
        font-size: calc(0.5em + 4px);
        font-weight: 400;
    }

    .sourceniconcontainer {
        display: flex;
        gap: 1em;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        .iconinfocontainer {
            display: flex;
            flex-direction: row;
            gap: 1em;
        }

        .icontxtcontainer {
            display: flex;
            flex-direction: row;
            gap: 0.2em;
            align-items: center;
        }
    }
}

@media screen and (width <=500px) {
    .newsitemtxtcontainer {

        h3 {
            font-size: calc(0.6em + 4px);
            margin: 0.4em 0em;
        }

        p {
            font-size: calc(0.5em + 2px);
        }

        svg {
            width: 1em;
        }

        span {
            font-size: calc(0.4em + 3px);
        }

        .sourceniconcontainer {
            flex-direction: row-reverse;
        }
    }
}

.eventitemscontainer {
    padding: 0.8em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

@media screen and (width <=500px) {
    .eventitemscontainer {
        padding: 0em;
        grid-template-columns: repeat(1, 1fr);
    }
}

.eventitemcontainer {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    padding: 0.7em;
    box-shadow: 0px 1px 7px 1px var(--text-main-color);
    border-radius: 0.7em;

    &:hover{
        .eventitembtncontainer{
            display: flex;
        }
    }

    img {
        object-fit: contain;
        width: 100%;
        border-radius: 0.9em;
        aspect-ratio: 1 / 0.5;
        height: auto;
    }
}

.eventitemtxtcontainer {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;

    h3 {
        font-size: calc(0.8em + 4px);
        font-weight: 600;
        margin: 0.5em 0em;
    }

    >p {
        font-size: calc(0.5em + 5px);
        font-weight: 400;
        margin: 0.3em 0em;

        &:last-of-type {
            font-weight: 400;
            font-size: calc(0.7em + 3px);
        }
    }

    >button {
        width: 100%;
        padding: 0.7em 1em;
        align-self: start;
        margin: 1em 0em;
        margin-bottom: 0em;
        border-radius: 0.4em;
        background-color: var(--text-main-color);
        color: var(--background-main-color);
        justify-self: flex-end;
        margin-top: auto;
    }

    .categoryndatecontainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        p {
            font-size: calc(0.5em + 7px);
            font-weight: 400;
            margin: 0.3em 0em;
        }
    }
}

.eventitembtncontainer {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0.2em;
    box-shadow: inset 1px 1px 3px var(--text-main-color);
    border-radius: 0.4em;

    >button {
        font-size: calc(0.6em + 4px);
        align-items: center;
    }

    .eventbtnitem {
        display: flex;
        flex-direction: row;
        gap: 0.4em;
        background-color: var(--background-main-color);
        box-shadow: none;
        color: var(--text-main-color);

        >svg {
            color: var(--text-main-color);
            height: 1.5em;
            aspect-ratio: 1/1;
            width: auto;
        }
    }

    .buttonmain {
        background-color: var(--text-main-color);
    }
}



.eventitemtitlencategorycontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (width <=500px) {
    .eventitemcontainer {

        img {
            border-radius: 0.4em;
        }
    }

    .eventitemtxtcontainer {

        >p {
            font-size: calc(0.5em + 4px);

            &:last-of-type {
                font-size: calc(0.7em + 2px);
            }
        }

        >button {
            padding: 0.4em 0.7em;
            font-size: calc(0.6em + 5px);
        }

        .categoryndatecontainer {

            p {
                font-size: calc(0.5em + 5px);
            }
        }
    }
}