/* TODO remove unused css */

.taabasamuprogramscontainer {
    width: 100%;
}


.newprogramherocontainer {
    width: 100%;
    padding: 1em 7em;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: var(--container-secondary-main-color);
}

.newprogramimgnstatcontainer {
    display: grid;
    grid-template-columns: repeat(3, 10em);
    align-self: center;
    width: 100%;
    justify-items: center;
    align-items: center;
    gap: 1em;
}

.newprogramimgstatitemcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7em;
    border-radius: 0.4em;
    padding: 1em;
    width: 100%;

    >img {
        height: 5em;
        aspect-ratio: 1/1;
        width: auto;
        object-fit: cover;
    }
}

@media screen and (width < 650px) {
    .newprogramherocontainer {
        padding: 0em 1em;
        padding-top: 10vh;
    }

    .newprogramimgnstatcontainer {
        grid-template-columns: repeat(3, 1fr);
    }

}

.programsmainitemscontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1em;
    gap: 0.5em;
    background-color: var(--background-main-color);
    color: var(--text-main-color);

    >h2 {
        margin: 0.4em 0em;
    }

    >button {
        box-shadow: 1px 1px 5px 1px var(--text-main-color);
        background-color: var(--secondary-blue-color);
    }
}

.programitemscontainer {
    padding: 2em 5em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.4em;
}

@media screen and (width <=500px) {
    .programsmainitemscontainer {

        >h2 {
            font-size: calc(1.4em + 3px);
        }

        button {
            font-size: calc(0.6em + 5px);
        }
    }

    .programitemscontainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;
    }
}

.programitemcontainer {
    display: flex;
    width: 100%;
    box-shadow: 0px 1px 5px 1px var(--text-main-color);
    flex-direction: column;
    gap: 0.5em;
    padding: 0.7em;
    border-radius: 0.7em;
    text-align: start;

    .projectitemmaintxtnbtncontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    img {
        height: 35vh;
        width: 100%;
        border-radius: 0.5em;
        object-fit: cover;
    }

    h4 {
        font-weight: 700;
        margin: 0.7em 0em;
        margin-bottom: 0em;
    }

    span {
        font-size: calc(0.6em + 6px);
        font-weight: 400;
        margin: 0em 0em;
    }

    p {
        font-size: calc(0.5em + 7px);
        font-weight: 400;
        margin: 0.4em 0em;
    }

    button {
        width: fit-content;
        text-align: center;
        padding: 0.7em 1em;
        border-radius: 0.4em;
        background-color: var(--text-main-color);
        color: var(--background-main-color);
        display: none;
        box-shadow: 1px 1px 3px var(--text-main-color);
    }

    &:hover {
        background-color: var(--item-secondary-conatiner);

        button {
            display: block;
            background-color: var(--text-main-color);
            color: var(--background-main-color);
        }
    }
}

@media screen and (width <=500px) {
    .programitemcontainer {

        button {
            display: block;
        }
    }
}

.herov3container {
    display: flex;
    width: 100vw;
    height: 75vh;
    position: relative;

    .herov3imgcontainer {
        position: absolute;
        height: 100%;
        object-fit: cover;
        top: 0%;
        width: 100%;
    }

    .headertxtnstatscontainer {
        position: absolute;
        height: 100%;
        display: flex;
        color: var(--secondary-text-color);
        width: 65%;
        background: linear-gradient(100deg, #000000cf, 70%, #0000005c, 80%, #0c0c0c14 90%, #00000000);
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        padding: 1em 2em;

        h1 {
            font-size: calc(3em + 8px);
            margin: 10vh 0em 2vh 0vh;
        }
    }
}